<div class="start-screen">
  <h2>Hunt the Wumpus</h2>
  <form [formGroup]="configForm" (ngSubmit)="startGame()">
    <label for="boardSize">
      Board size (n x n):
      <input
        type="number"
        id="boardSize"
        formControlName="boardSize"
        min="4"
        max="10"
        placeholder="Enter board size (4-10)"
      />
    </label>
    <app-form-error [show]="isFieldValid('boardSize')" message="Must be between 4 and 10." fieldId="boardSize" />

    <label for="numWells">
      Number of wells:
      <input type="number" id="numWells" formControlName="numWells" min="1" placeholder="Enter number of wells" />
    </label>
    <app-form-error [show]="isFieldValid('numWells')" message="Must be at least 1." fieldId="numWells" />

    <label for="numArrows">
      Number of arrows:
      <input type="number" id="numArrows" formControlName="numArrows" min="1" placeholder="Enter number of arrows" />
    </label>
    <app-form-error [show]="isFieldValid('numArrows')" message="Must be at least 1." fieldId="numArrows" />

    <button type="submit" class="btn btn-primary" [disabled]="configForm.invalid">Start game</button>
  </form>
</div>
